# Ignore folders.
.storage
.cloud
.google.token
custom_components
node-red
themes
tts
www
zigbee2mqtt/*

# Select files.
!zigbee2mqtt/devices.yaml
!zigbee2mqtt/groups.yaml

# Ignore files.
__pycache__
.HA_VERSION
*.log
*.db
harmony_*.conf

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
